:root {
    --background-color: hsl(235, 18%, 26%);
    --card-background: hsl(0, 0%, 100%);
    --padding-card: 40px 20px; 
    --margin-bottom: 20px;
}


/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans serif;
}

/* generici */
body{
    background-color: var(--background-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* utili */


.mobile-img {
    display: block;
}
.desktop-img {
    display: none;
}

/* card */
.card {
    background-color: var(--card-background);

    .card-body {
        padding: var(--padding-card);
    
        h1,
        p {
            margin-bottom: var(--margin-bottom);
        }
    
        ul {
            list-style-image: url(../assets/images/icon-list.svg);
            list-style-position: inside;
            li {
                margin-bottom: 10px;
                
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}