:root {
    --background-color: hsl(235, 18%, 26%);
    --card-background: hsl(0, 0%, 100%);
    --padding-card: 20px 20px 15px 20px; 
    --margin-bottom: 15px;
    --font-size: 16px;
    --padding-element: 15px;
    --border-radius: 5px;
    --background-button: hsl(234, 29%, 20%);
    --button-hover: hsl(4, 100%, 67%);
}


/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans serif;
}

/* generici */
body{
    background-color: var(--background-color);
}



/* utili */

.d-none{
    display: none;
}

.d-flex {
    display: flex;
}

.mobile-img {
    display: block;
    width: 100%;
    height: auto;
}
.desktop-img {
    display: none;
}

/* card */
.card {
    background-color: var(--card-background);

    .card-body {
        padding: var(--padding-card);
        
        h1,
        p {
            margin-bottom: var(--margin-bottom);
        }
    
        ul {
            list-style-image: url(../assets/images/icon-list.svg);
            list-style-position: outside;
            padding: 0 25px;
            margin-bottom: 30px;
            li {
                margin-bottom: 10px;
                
                p {

                    font-size: var(--font-size);
                    margin-left: 10px;
                }
            }
        }
    }

    form {
       
        display: flex;
        flex-direction: column;
        margin-bottom: var(--margin-bottom);

        .labels {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        label {
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        input {
            flex-basis: 100%;
            border-radius: var(--border-radius);
            padding: var(--padding-element);
            margin-bottom: var(--margin-bottom);
            border: 1px solid hsl(236, 15%, 82%);
        }
        
        button {
            border-radius: var(--border-radius);
            padding: var(--padding-element);
            background-color: var(--background-button);
            color: var(--card-background);
            border: none;
        }

        button:hover {
            background-color: var(--button-hover);
            box-shadow: 0 5px 10px var(--button-hover);
        }
        #error-msg {
            color: var(--button-hover);
        }
    }
}

/* overlay */

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

/* messaggio */

.message {
    background-color: var(--card-background);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 20px 20px 20px;

    figure {
        margin-bottom: 30px;
    }

    h1 {
        margin-bottom: 20px;
    }

    button {
        padding: var(--padding-element);
        border-radius: 5px;
        border: none;
        background-color: var(--background-button);
        color: var(--card-background);
    }

    button:hover {
        background-color: var(--button-hover);
        box-shadow: 0 5px 10px var(--button-hover);
    }
}



/* media queries */

@media screen and (min-width: 578px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
        .card-body {
            padding: 2em;
        }

        .overlay {
            padding: 100px;
        }

        .message  {
            max-width: 450px;
            margin: 0 auto;
            height: fit-content;
            border-radius: 20px;
            padding: 40px;
            display: block;

            p {
                margin-bottom: 30px;
                font-size: 12px;
            }

            button{
                width: 100%;
            }
        }
    }

    

    
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 600px;
        margin: 0 auto;

        .card{
            border-radius: 20px;
        }

        


        .mobile-img {
            border-radius: 20px;
        }

        .overlay {
            padding: 200px;
        }

        
    }

}

@media screen and (min-width: 992px) {

    .container {
        max-width: 750px;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .card{
            display: flex;
            flex-direction: row-reverse;
            gap: 20px;
            padding: 20px;

            .mobile-img {
                display: none;
            }

            .jumbotron {
                flex-basis: 50%;
                
                figure{
                    height: 100%;
                    /* padding: 20px; */
                    .desktop-img {
                        display: block;
                        height: 100%;
                        max-width: 100%;
                        
                    }
                }
    
            }


            .card-body{
                flex-basis: 50%;
                padding: 60px 20px;

                h1 {
                    font-size: 45px;
                }

                p {
                    font-size: 12px;
                }
            }
        }

        .overlay {
            padding: 300px;
        }
    }


     
}

@media screen and (min-width: 1200px) {
    .overlay {
        padding: 1200px;
    }
}