:root {
    --background-color: hsl(235, 18%, 26%);
    --card-background: hsl(0, 0%, 100%);
    --padding-card: 10px 20px; 
}


/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans serif;
}

/* generici */
body{
    background-color: var(--background-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* utili */

.d-none{
    display: none;
}

